body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.board{
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column; /*vill lägga de nedåt*/
}

.row{
    width: 100%;
    background-color: palevioletred;
    flex-grow: 1; /*varje rad ska växa så mkt som möjligt*/
    display: flex;
}


.board .row .square{
    background-color: grey;
    flex-grow: 1;
    flex-basis: auto; /*fyller upp lagom mkt*/
}